<div class="col-md-7 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label>Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.user.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label>Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="vm.user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.number.$dirty && form.number.$error.required }">
            <label>Phone No.</label>
            <input type="text" name="number" id="number" class="form-control" ng-model="vm.user.number" required />
            <span ng-show="form.number.$dirty && form.number.$error.required" class="help-block">Phone No. is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label>Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>

            <a href="#!/login" class="btn btn-link">Cancel</a>

        </div>
    </form>
</div>
